.header {
    font-family: var(--font-general);
    padding: 1rem;
    h1 {
        font-weight: 400;
        margin: 0;
        &:after {
            content: ".jp";
            font-size: 0.5em;
        }
    }
    .nav {
        ul {
            display: flex;
            padding-left: 0;
            li {
                list-style: none;
                margin-right: 1em;
                a {
                    color: black;
                }
            }
        }
    }
}
.main {
    max-width: 40em;
    margin: auto;
    &:before,
    &:after {
        content: "";
        display: block;
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: -15vw;
        right: -5vw;
        z-index: -1;
        transform: rotate(0.08turn);
    }
    &:before {
        background-image: var(--logo-handwrite-black);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: focus 3s ease-in;
    }
    &:after {
        background: linear-gradient(7deg, #fff 25%, rgba(255, 255, 255, 0) 90%);
    }
    article {
        box-sizing: border-box;
        padding: 1em;
    }
    iframe {
        width: 100%;
        & + .archive {
            margin-top: 1rem;
        }
    }
    a[href^="http"] {
        font-family: var(--font-code);
        font-size: 0.8em;
        font-weight: 300;
    }
}
.archive {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }
}
.footer {
    margin: 2rem 1rem;
    font-size: 0.5em;
}
@media (min-width: 40rem) {
    .header {
        h1 {
            font-size: 4em;
        }
    }
    .main {
        article {
            h1 {
                font-size: 2.5rem;
                font-weight: 300;
            }
        }
    }
}
@keyframes focus {
    from {
        filter: blur(0.2em);
    }
    to {
        filter: blur(0.01em);
    }
}
