.card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background-color: #f5f5f5;
    color: black;
    transition: all .15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-position: center;
    background-size: 100%;
    background-image: var(--logo-handwrite);
    box-shadow: 0 .1em .2em .1em rgba(0,0,0,0.1);
    &:hover,
    &:focus {
        filter: brightness(1.03);
        background-size: 105%;
        box-shadow: 0 0 1.2em .2em rgba(0,0,0,0.2);
    }
}
.title {
    font-weight: 700;
}
.date {
    font-size: 0.8em;
}
.excerpt {
    font-size: 0.8em;
}